<?xml version="1.0" encoding="UTF-8"?>
<!--设置log4j2的自身log级别为warn-->
<configuration status="warn">

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </console>
    </appenders>
    <loggers>
        <logger name="org.springframework" level="DEBUG" additivity="false"/>
        <logger name="com.rnkrsoft.framework" level="DEBUG" additivity="false"/>
        <logger name="org.hibernate" level="INFO" additivity="false"/>
        <logger name="jdbc.sqlonly" level="OFF" additivity="false"/>
        <logger name="jdbc.sqltiming" level="DEBUG" additivity="false"/>
        <logger name="jdbc.audit" level="OFF" additivity="false"/>
        <logger name="jdbc.resultset" level="OFF" additivity="false"/>
        <logger name="jdbc.resultsettable" level="DEBUG" additivity="false"/>
        <logger name="jdbc.connection" level="OFF" additivity="false"/>
        <root level="all">
            <appender-ref ref="Console"/>
        </root>
    </loggers>

</configuration>